.bases {
    &__font {
        &--10 {
            font-size: 10px !important;
            @include responsive(max-sm) {
                font-size: 8px !important;
            }
        }
        &--12 {
            font-size: 12px !important;
            @include responsive(max-sm) {
                font-size: 10px !important;
            }
        }
        &--13 {
            font-size: 13px !important;
            @include responsive(max-sm) {
                font-size: 11px !important;
            }
        }
        &--14 {
            font-size: 14px !important;
            @include responsive(max-sm) {
                font-size: 12px !important;
            }
        }
        &--15 {
            font-size: 15px !important;
            @include responsive(max-sm) {
                font-size: 13px !important;
            }
        }
        &--16 {
            font-size: 16px !important;
            @include responsive(max-sm) {
                font-size: 14px !important;
            }
        }
        &--18 {
            font-size: 18px !important;
            @include responsive(max-sm) {
                font-size: 16px !important;
            }
        }
        &--20 {
            font-size: 20px !important;
            @include responsive(max-sm) {
                font-size: 18px !important;
            }
        }
        &--22 {
            font-size: 22px !important;
            @include responsive(max-sm) {
                font-size: 20px !important;
            }
        }
        &--24 {
            font-size: 24px !important;
            @include responsive(max-sm) {
                font-size: 22px !important;
            }
        }
        &--30 {
            font-size: 30px !important;
            @include responsive(max-sm) {
                font-size: 28px !important;
            }
        }
    }
    &__text {
        &-normal {
            font-weight: 300;
        }
        &-bold {
            font-weight: 600;
        }
    }
    &__icon {
        &-sm {
            width: 26px;
            height: 26px;
            object-fit: contain;
        }
        &-md {
            width: 30px;
            height: 30px;
            object-fit: contain;
        }
        &-lg {
            width: 36px;
            height: 36px;
            object-fit: contain;
        }
    }
    &__rotate {
        &-reverse {
            transform: scaleX(-1);
        }
        &-up180 {
            transform: rotate(-180deg);
        }
        &-down180 {
            transform: rotate(180deg);
        }
        &-up90 {
            transform: rotate(-90deg);
        }
        &-down90 {
            transform: rotate(90deg);
        }
    }
    &__p {
        &-cursor {
            cursor: pointer;
        }
    }
    &__box {
        width: 1110px;
        background-color: $color-white;
        border-radius: 4px;
        box-shadow: 0 0 5px $color-white, 0 0 3px $color-shadow;
        margin-left: 120px ;
        &:first-child {
            margin-top: 0;
        }
        .heading {
            background-color: $color-light-gray;
            border-bottom: 1px solid $color-gray;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            padding: 20px 60px;
        }
        .body {
            padding: 40px 60px 56px;
            .row {
                &:last-child {
                    margin-bottom: 0;
                }
                margin-bottom: 30px;
            }
        }
    }
    &__btn {
        padding: 10px;
        border-radius: 3px;
        background-color: $color-white;
        justify-content: center;
        font-weight: 600;
        border: 1px solid;
        border-color: $color-black;
        text-align: center;
        cursor: pointer;
        &:hover {
            opacity: 0.5;
        }
        &:disabled {
            border-color: $color-black-opacity;
            cursor: unset;
            &:hover {
                opacity: unset !important;
            }
        }
        &.btn {
            &-dropdown {
                background-color: $color-green;
                color: $color-white;
                padding: 16px;
                font-size: 16px;
                height: 50px;
                width: 230px;
                border: 5px;
                cursor: pointer;
                &:hover {
                    background-color: $color-green-dark;
                }
            }
            &-submit {
                background-color: $color-blue;
                color: $color-white;
                padding: 16px !important;
                margin-top: 20px;
                margin-bottom: 10px;
                border: unset;
                &:last-child {
                    margin-right: 0;
                }
                &:focus {
                    outline: 5px auto -webkit-focus-ring-color;
                }
            }
            &-delete {
                font-weight: 300;
                border-radius: 32px;
                padding: 10px 20px;
                border-color: $color-blue;
                color: $color-blue;
                &-all{
                    border-radius: 10px;
                    border-color: $color-blue;
                    color: $color-blue;
                    i{
                        color: $color-red;
                    }
                }
            }
            &-payment{
                font-weight: 300;
                border-color: $color-blue;
                color: $color-blue;
                padding-bottom: 10px;
            }
            &-round {
                font-weight: 300;
                border-radius: 32px;
                padding: 10px 20px;
                &-cart {
                    background-color: $color-orange;
                    color: $color-white;
                    border-color: $color-blue;
                    border-radius: 5px;
                    margin-bottom: 10px;
                }
                &-buy {
                    background-color: $color-blue;
                    color: $color-white;
                    border-color: $color-blue;
                    border-radius: 5px;
                    margin-top: 30px;
                }
                &-evaluate{
                  border: unset !important;
                  &:first-child{
                    margin-bottom: 40px;
                  }
                }
            }
            &-form,
            &-table {
                height: 30px;
                color: $color-black;
                background-color: $color-orange;
                padding: 0 16px !important;
                font-weight: 300;
                border: 1px solid;
                border-color: $color-blue;
                margin-left: 100px;
            }
            &-lg {
                font-weight: 300;
                padding: 10px 22px;
            }
        }
    }
    &__table {
        width: 100%;
        overflow-x: scroll;
        &:first-child {
            margin-top: 54px;
        }
        &::-webkit-scrollbar {
            display: none;
        }
        .data {
            display: grid;
            border-bottom: 1px solid $color-dark-gray;
            div {
                padding: 11px 0;
            }
        }
    }
    &__col {
        &-left {
            width: 22%;
            margin-right: 10px;
        }
        &-right {
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
        }
    }
}
body,
html {
    height: 100%;
    line-break: strict;
    word-break: break-word;
}

a {
    text-decoration: none !important;
    color: $color-black;
    &:hover {
        color: $color-blue;
    }
}

button {
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    &:focus {
        border: 2px solid $color-blue;
        outline: none;
    }
}

input[type='radio'],
input[type='checkbox'],
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
}

input,
select {
    border: 1px solid $color-black;
    border-radius: 3px;
    height: 40px;
    padding: 0 16px !important;
    &.is-invalid {
        border-color: $color-red !important;
        padding-right: calc(1.5em + 0.75rem);
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right calc(0.375em + 0.1875rem) center;
        background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
        &-option {
            border-color: $color-red !important;
        }
    }
    &:disabled {
        background-color: $color-gray;
        border: 1px solid $color-shadow;
    }
    &:focus {
        border: 2px solid $color-blue;
        outline: none;
    }
}
input {
    &[type='checkbox'],
    &[type='radio'] {
        width: 28px;
        height: 28px;
        margin-right: 10px;
        border-radius: 2px;
        padding: unset !important;
        &.is-invalid-option {
            border-color: $color-red !important;
        }
        &:disabled {
            background-color: $color-gray;
            border: 1px solid $color-shadow;
        }
    }
    &[type='radio'] {
        border-radius: calc(28px / 2) !important;
        &:checked {
            background-image: url("/img/icons/dot.png");
            background-position: center;
            background-size: 12px;
            background-repeat: no-repeat;
        }
    }
    &[type='checkbox'] {
        &:checked {
            background-image: url("/img/icons/check.png");
            background-position: center;
            background-size: 20px;
            background-repeat: no-repeat;
        }
    }
    &[type='file'] {
        display: none;
    }
}

select {
    background-image: linear-gradient(45deg, transparent 50%, $color-black 50%), linear-gradient(135deg, $color-black 50%, transparent 50%), linear-gradient(to right, $color-white, $color-white);
    background-position: calc(100% - 20px) calc(1em), calc(100% - 15px) calc(1em), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}

textarea {
    border: 1px solid $color-black;
    border-radius: 3px;
    padding: 16px;
    width: 100%;
    &.is-invalid {
        border-color: $color-red !important;
        padding-right: calc(1.5em + 0.75rem);
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right calc(0.375em + 0.1875rem) center;
        background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
        &-option {
            border-color: $color-red !important;
        }
    }
    &:disabled {
        background-color: $color-gray;
        border: 1px solid $color-shadow;
    }
    &:focus {
        border: 2px solid $color-blue;
        outline: none;
    }
}

.hidden {
    display: none;
}
.invalid-feedback {
    display: block;
    &-option {
        position: absolute;
        left: 0;
        top: 30px;
    }
    &-fee {
        position: absolute;
        top: 40px;
        left: 0;
    }
}

label {
    margin-bottom: unset !important;
}

.row {
    margin-left: unset !important;
    margin-right: unset !important;
}
.badge {
    background-color: $color-pink;
    color: $color-white;
    border-radius: 9px;
    padding: 5px 8px;
}

.text-danger {
    color: $color-pink !important;
}

section {
    margin-bottom: 50px;
}
