{{!-- <div class="bases__box">
    <div class="body">
        <div class="row justify-content-center">
            <h1 class="">KHÔNG THỂ TÌM THẤY TRANG BẠN YÊU CẦU.</h1>
            <p>Có vẻ như không tồn tại địa chỉ này, bạn hãy quay trở về trang chủ.</p>
        </div>
        <div class="row justify-content-center">
            <a href="/" class="bases__btn btn-round-buy">VỀ TRANG CHỦ</a>
        </div>
    </div>
</div> --}}

<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>