// define colors for reuse
$color-blue: #0099c6;
$color-blue-dark:#0000FF;

$color-blue-gray: #38415b;
$color-light-blue-gray: #cfd4e0;

$color-white: #fff;
$color-white-opacity: rgba(255, 255, 255, 0.5);

$color-light-black: #333;
$color-black: #000;
$color-black-opacity: rgba(0, 0, 0, 0.5);

$color-red: #ff0000;

$color-dark-gray: #b8b8b8;
$color-gray: #ececec;
$color-light-gray: #fafafa;

$color-light-shadow: #a0a0a0;
$color-shadow: #707070;

$color-brown: #ad7f38;

$color-orange: #ff9901;

$color-pink: #eb6b6b;

$color-lime: #00FF00;

$color-yellow: #f1df11;
$color-yellow-dark: #c7b200;

$color-green:#4caf50;
$color-green-dark :#3e8e41;

$color-red-dark:#CC3333;

$color-purple:#CC66CC

