[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wokiee' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.tt-rating {
  font-size: 16px;
}
.tt-rating [class^='icon-'] {
  font-family: 'wokiee' !important;
}
.tt-rating .fa.fa-star:before {
  display: inline-block;
  color: #ffb503;
}
.tt-rating .fa.fa-star-half-o:before {
  display: inline-block;
  color: #ffb503;
}
.tt-rating .icon-star-empty:before {
  display: inline-block;
  color: #191919;
}

.tt-review-block .tt-row-custom-02 {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.tt-review-block .tt-row-custom-02 a {
  color: #2879fe;
  font-size: 14px;
  text-decoration: underline;
}
.tt-review-block .tt-row-custom-02 a:hover {
  text-decoration: none;
}
.tt-review-block .tt-row-custom-02 .col-item:last-child {
  margin-left: 20px;
  min-width: 105px;
  text-align: right;
}
.tt-review-block .tt-row-custom-02 .col-item:nth-child(2) {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.tt-review-block .tt-title {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  margin: 0;
  padding: 0;
  color: #191919;
}

.tt-review-block .tt-review-comments {
  margin-top: 20px;
}
.tt-review-block .tt-review-comments .tt-item:not(:first-child) {
  margin-top: 28px;
}
.tt-review-block .tt-review-comments .tt-item {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-bottom: 23px;
}
.tt-review-block .tt-review-comments .tt-item .tt-avatar {
  min-width: 59px;
  margin-right: 22px;
  margin-top: 2px;
}
.tt-review-block .tt-review-comments .tt-item .tt-avatar a {
  display: block;
  width: 59px;
  height: 60px;
  background: #f7f8fa;
  position: relative;
}
.tt-review-block .tt-review-comments .tt-item .tt-avatar a img {
  position: relative;
  z-index: 2;
  max-width: 100%;
  height: auto;
}
.tt-review-block .tt-review-comments .tt-item .tt-avatar a:before {
  font-family: 'wokiee';
  content: '\ea43';
  font-size: 20px;
  line-height: 58px;
  display: block;
  text-align: center;
  width: 100%;
  position: absolute;
  z-index: 0;
  color: #191919;
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  -webkit-opacity: 0.4;
  opacity: 0.4;
}
.tt-review-block .tt-review-comments .tt-item .tt-content .tt-comments-info {
  font-size: 12px;
  margin-top: 5px;
  color: #777777;
}
.tt-review-block
  .tt-review-comments
  .tt-item
  .tt-content
  .tt-comments-info
  .username
  span {
  color: #191919;
}
.tt-review-block .tt-review-comments .tt-item .tt-content .tt-comments-title {
  font-size: 14px;
  font-weight: 500;
  color: #191919;
  margin: 6px 0 0 0;
}
.tt-review-block .tt-review-comments .tt-item .tt-content .tt-rating {
  margin-left: -1px;
}
.tt-review-block .tt-review-comments .tt-item .tt-content p {
  margin-top: 0px;
}
.tt-review-block .tt-review-comments .tt-item .tt-content > *:nth-child(1) {
  margin-top: 0;
}
.tt-review-block .tt-review-comments .tt-rating {
  margin-right: 8px;
  margin-top: 3px;
}

.tt-review-block .tt-review-form {
  margin-top: 4px;
}
.tt-review-block .tt-review-form .tt-message-info {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  font-family: 'Hind', sans-serif;
  color: #191919;
  font-weight: 500;
  letter-spacing: 0.03em;
  padding: 0 0 6px 0;
}
.tt-review-block .tt-review-form .tt-message-info span {
  color: #2879fe;
}
.tt-review-block .tt-review-form .tt-rating-indicator {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 13px;
}
.tt-review-block .tt-review-form .tt-rating-indicator .tt-title {
  color: #191919;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-family: 'Hind', sans-serif;
  margin-right: 10px;
}
.tt-review-block .tt-review-form form {
  margin-top: 11px;
}
.tt-review-block .tt-review-form > *:nth-child(1) {
  margin-top: 0;
}

.containerStar {
  background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/concrete-texture.png');
  display: flex;
  flex-wrap: wrap;
  height: 35vh;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.feedback {
  max-width: 360px;
  background-color: #fff;
  width: 100%;
  padding: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
}
.rating {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  flex-direction: row-reverse;
  height: 150px;
  position: relative;
}
.rating-0 {
  filter: grayscale(100%);
}

.rating > input {
  display: none;
}

.rating > label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: 0.3s;
}

.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.emoji-wrapper {
  width: 100%;
  text-align: center;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.emoji-wrapper:before,
.emoji-wrapper:after {
  content: '';
  height: 15px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
}

.emoji-wrapper:before {
  top: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 35%,
    rgba(255, 255, 255, 0) 100%
  );
}

.emoji-wrapper:after {
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 35%,
    rgba(255, 255, 255, 0) 100%
  );
}

.emoji {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
}

.emoji > svg {
  margin: 15px 0;
  width: 70px;
  height: 70px;
  flex-shrink: 0;
}

#rating-1:checked ~ .emoji-wrapper > .emoji {
  transform: translateY(-100px);
}
#rating-2:checked ~ .emoji-wrapper > .emoji {
  transform: translateY(-200px);
}
#rating-3:checked ~ .emoji-wrapper > .emoji {
  transform: translateY(-300px);
}
#rating-4:checked ~ .emoji-wrapper > .emoji {
  transform: translateY(-400px);
}
#rating-5:checked ~ .emoji-wrapper > .emoji {
  transform: translateY(-500px);
}
.tt-shopcart-box .tt-title {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
}

.tt-shopcart-box p {
  margin-top: 14px;
}
.tt-shopcart-box.tt-boredr-large {
  border-width: 2px;
}

.tt-shopcart-table01 {
  width: 100%;
  font-family: 'Hind', sans-serif;
}
.tt-shopcart-table01 th,
.tt-shopcart-table01 td {
  color: #191919;
  vertical-align: middle;
}
.tt-shopcart-table01 tbody tr th {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding: 5px 0;
}
.tt-shopcart-table01 tbody tr td {
  font-size: 16px;
  font-weight: 500;
  padding: 5px 0;
  text-align: right;
}
.tt-shopcart-table01 tfoot {
  width: 100%;
}
.tt-shopcart-table01 tfoot tr th,
.tt-shopcart-table01 tfoot tr td {
  padding: 17px 0;
}
.tt-shopcart-table01 tfoot tr th {
  font-size: 24px;
  font-size: 16px;
  padding-top: 19px;
}
.tt-shopcart-table01 tfoot tr td {
  font-size: 24px;
  color: #2879fe;
  font-weight: 500;
  text-align: right;
  padding: 0px 0;
}
.tt-shopcart-col .tt-shopcart-box {
  border: 1px solid #e9e7e7;
  margin-right: 50px;
}
.col-md-6 {
  max-width: 50%;
}
.col-md-6:first-child {
  margin-bottom: 30px;
}
.col-lg-4 {
  max-width: 32.32%;
}
@media (min-width: 576px) {
  .tt-shopcart-col .tt-shopcart-box {
    padding: 32px 39px 40px 32px;
  }
}
@media (max-width: 575px) {
  .tt-shopcart-col .tt-shopcart-box {
    padding: 17px 24px 20px;
  }
  .tt-shopcart-col .tt-shopcart-box .tt-title {
    font-size: 17px;
  }
}
.tt-shopcart-col .tt-shopcart-box {
  margin-top: 20px;
}

.icon-h-02:before {
  content: "\ea21"; }
  
.icon-e-19:before {
  content: "\e912"; }
@media (min-width: 790px) {
  .tt-shopcart-table .tt-shopcart-btn {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 32px;
  }
  .tt-shopcart-table .tt-shopcart-btn .col-left {
    -webkit-flex: 2 1 auto;
    -ms-flex: 2 1 auto;
    flex: 2 1 auto;
  }
  .tt-shopcart-table .tt-shopcart-btn *[class^='btn']:not(:first-child) {
    margin-left: 40px;
  }
}

