<form action="/user/changePass" method="POST">
    <div class="bases__box">
        <div class="body">
            <div class="row ">
                <div class="col-6 align-items-center">
                    <img src="/img/login.png" alt="" width="500px" height="400px">
                </div>
                <div class="col-6">
                    <div class="row justify-content-center">
                        <div class="bases__font--30 bases__text-bold">Đổi mật khẩu</div>
                    </div>
                    {{#if hasErrors}}
                    <div class="alert alert-danger ">
                        {{#each messages}}
                        <p>{{this}}</p>
                        {{/each}}
                    </div>
                    {{/if}}
                    <div class="row">
                        <label for="password">Mật khẩu cũ:</label>
                        <input type="password" class="w-100 mt-2" name="oldPass" id="password">
                    </div>
                    <div class="row">
                        <label for="password">Mật khẩu mới:</label>
                        <input type="password" class="w-100 mt-2" name="newPass" id="password">
                    </div>
                    <div class="row">
                        <label for="password">Nhập lại mật khẩu mới:</label>
                        <input type="password" class="w-100 mt-2" name="newPass2" id="password">
                    </div>
                    <div class="row">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <button type="submit" class="bases__btn btn-submit">
                            <span class="bases__font--16">Lưu</span>
                            <i class="bases__font--12 fas fa-play ml-1"></i>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>