<div class="pages__forgot-password">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-md-6 col-md-offset-6">
            <div class="box">
                <div class="text-center">
                    <h3><i class="fa fa-lock fa-4x"></i></h3>
                    <h2 class="text-center">Quên mật khẩu?</h2>
                    <p class="mt-2">Bạn có thể thiết lập lại mật khẩu của bạn ở đây.</p>
                    {{#if hasErrors}}
                    <div class="alert alert-danger">
                        {{#each messages}}
                        <p>{{this}}</p>
                        {{/each}}
                    </div>
                    {{/if}}
                    <form class="form" method="POST" action="/user/forgotPassword">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i
                                        class="glyphicon glyphicon-envelope color-blue"></i></span>
                                <input id="email" name="email" placeholder="Vui lòng điền email" class="form-control"
                                    type="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="_csrf" value="{{csrfToken}}">
                            <input name="recover-submit" class="btn btn-lg btn-primary btn-block"
                                value="Đặt lại mật khẩu" type="submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>