<form action="/user/login" method="POST">
	<div class="bases__box">
		<div class="body">
			<div class="row ">
				<div class="col-6 align-items-center">
					<img src="/img/login.png" alt="" width="500px" height="400px">
				</div>
				<div class="col-6">
					<div class="row justify-content-center">
						<div class="bases__font--30 bases__text-bold">Đăng nhập</div>
					</div>
					<div class="alert alert-success {{#if noSuccess}} hidden {{/if}}">
						<p>{{success_msg}}</p>
					</div>
					{{#if hasErrors}}
					<div class="alert alert-danger ">
						{{#each messages}}
						<p>{{this}}</p>
						{{/each}}
					</div>
					{{/if}}
					<div class="row">
						<label for="email">Email:</label>
						<input type="email" class="w-100 mt-2" name="email" id="email" required>
					</div>
					<div class="row">
						<label for="password">Mật khẩu:</label>
						<input type="password" class="w-100 mt-2" name="password" id="password" required>
					</div>
					<div class="row d-flex">
						<div class="col-6 d-flex align-items-center">
							<input type="checkbox" name="" id="">Nhớ tôi
						</div>
						<div class="col-6 d-flex align-items-center justify-content-end">
							<a href="/user/forgotPassword">Quên mật khẩu?</a>
						</div>
					</div>
					<div class="text-center">
						<input type="hidden" , name="_csrf" value="{{csrfToken}}">
						<button type="submit" class="bases__btn btn-submit">
							<span class="bases__font--16">Đăng nhập</span>
							<i class="bases__font--12 fas fa-play ml-1"></i>
						</button>
					</div>
					<div class="mt-2 text-center">
						<h4 >Hoặc:</h4>
					</div>
					<div class="d-flex mt-4">
						<a href="/user/auth/facebook" class="btn btn-primary ml-3">
							<i class="fa fa-facebook ml-1"></i> Đăng nhập cùng facebook
						</a>
						<a href="/user/auth/google" class="btn btn-danger ml-3">
							<i class="fa fa-google ml-1"></i> Đăng nhập cùng google
						</a>
					</div>

					<hr>
					<div class="row">
						<p>Bạn chưa có tài khoản? <a href="/user/registration" class="text-danger">Đăng ký tại đây!</a>
						</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</form>