<div class="pages__verify">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h1>XÁC THỰC EMAIL</h1>
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-12">
                    <h2 class="mb-3">
                        Nhập mã xác thực đã gửi ở {{user.email}}
                    </h2>
                    <div class="form-group form-control error {{#if noMessages}} hidden {{/if}}"
                        style="background-color: #FFCCCC; font-weight: bold; color : rgb(210, 29, 29)">
                        {{messages}}
                    </div>
                    <div class="form-default">
                        {{#if isAuthenticated}}
                        <form method="POST" action="/verify-email" id="createaccount">
                            <div class="form-group">
                                <label for="loginInputEmail">Nhập mã xác thực *</label>
                                <input type="text" name="token" class="form-control mt-2" id="loginInputEmail"
                                    placeholder="Mã xác thực" required />
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <div class="form-group">
                                        <button class="bases__btn btn-round-buy" type="submit">
                                            Xác thực
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        {{/if}}

                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
        </div>
    </div>
</div>