<div class="pages__contact-us">
    <div class="bases__box">
        <div class="body">
            <section class="section">
                <!--Section heading-->
                <form method="POST" action="/contact">
                    <div class="form-group form-control error {{#if noMessages}} hidden {{/if}}"
                        style="background-color: #FFCCCC; font-weight: bold; color : rgb(210, 29, 29)">
                        {{messages}}
                    </div>
                    <h2 class="section-heading h1 pt-4">Liên hệ chúng tôi</h2>
                    <div class="row">
                        <div class="col-lg-5 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-header blue accent-1">
                                        <h3><i class="fas fa-envelope"></i> Viết thư cho chúng tôi:</h3>
                                    </div>
                                    <br>
                                    <div class="md-form mb-3">
                                        <div class="row align-items-center mb-2">
                                            <i class="fas fa-user prefix grey-text"></i>
                                            <label for="form-name">Họ tên</label>
                                        </div>
                                        <input type="text" id="form-name" name="name" class="form-control" required>

                                    </div>
                                    <div class="md-form mb-3">
                                        <div class="row align-items-center mb-2">
                                            <i class="fas fa-envelope prefix grey-text"></i>
                                            <label for="form-email">Email</label>
                                        </div>
                                        <input type="text" id="form-email" name="email" class="form-control" required>
                                    </div>
                                    <div class="md-form mb-3">
                                        <div class="row align-items-center mb-2">
                                            <i class="fas fa-tag prefix grey-text"></i>
                                            <label for="title">Tiêu đề</label>
                                        </div>
                                        <select class="browser-default custom-select mb-4" id="title" name="title">
                                            <option value="" disabled>Lựa chọn</option>
                                            <option value="Phản hồi" selected>Phản hồi</option>
                                            <option value="Báo cáo lỗi">Báo cáo lỗi</option>
                                            <option value="Yêu cầu tính năng">Yêu cầu tính năng</option>
                                        </select>
                                    </div>

                                    <div class="md-form ">
                                        <div class="row mb-2 align-items-center">
                                            <i class="fas fa-pencil-alt prefix grey-text"></i>
                                            <label for="form-text">Nội dung</label>
                                        </div>
                                        <textarea id="form-text" name="content" class="form-control md-textarea"
                                            rows="3" required></textarea>
                                    </div>
                                    <div class="text-center mt-3">
                                        <button class="bases__btn btn-round-buy" type="submit">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <!--Google map-->
                            <div id="map-container-google-11" class="z-depth-1-half map-container-6"
                                style="height: 400px">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.802446509081!2d108.16776031433682!3d16.075738143534725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314218e6e72e66f5%3A0x46619a0e2d55370a!2zMTM3IE5ndXnhu4VuIFRo4buLIFRo4bqtcCwgVGhhbmggS2jDqiBUw6J5LCBMacOqbiBDaGnhu4N1LCDEkMOgIE7hurVuZywgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1606315253743!5m2!1svi!2s"
                                    width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""
                                    aria-hidden="false" tabindex="0"></iframe>
                            </div>
                            <br>
                            <!--Buttons-->
                            <div class="row text-center">
                                <div class="col-md-4">
                                    <a class="btn-floating blue accent-1"><i class="fas fa-map-marker-alt"></i></a>
                                    <p>137 Nguyễn Thị Thập</p>
                                    <p>Hòa Minh Liên Chiểu Tp Đà Nẵng</p>
                                </div>

                                <div class="col-md-4">
                                    <a class="btn-floating blue accent-1"><i class="fas fa-phone"></i></a>
                                    <p>+ 01 234 567 89</p>
                                    <p>Thứ hai - Thứ Bảy, 8:00-22:00</p>
                                </div>

                                <div class="col-md-4">
                                    <a class="btn-floating blue accent-1"><i class="fas fa-envelope"></i></a>
                                    <p>info@gmail.com</p>
                                    <p>sale@gmail.com</p>
                                </div>
                            </div>

                        </div>
                        <!--Grid column-->
                    </div>
                </form>

            </section>
        </div>
    </div>

</div>