.pages {
    &__forgot-password {
        .box {
            border-radius: 10px;
            padding: 30px;
            border: 1px solid;
            border-color: $color-gray;
            -moz-box-shadow: 0 0 10px #999;
            -webkit-box-shadow: 0 0 10px #999;
            box-shadow: 0 0 10px #999;
            h3{
                color: $color-yellow;
            }
        }
    }
}
